	
body {
    background: url(Angular2.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
	

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
//   padding: 1rem;
  background-color: #efefef;
  text-align: center;
//   opacity: 1
//   background: #999;
  opacity: 0.7; 
//   background-color: rgba(0,0,0,0.6);
//   background:transparent;
}